body {
    background-color: rgb(226, 226, 226);
    color: rgb(91, 99, 91);
}

a {
    transition: 0.5s;
    background-color: rgb(226, 226, 226);
    color: rgb(96, 128, 96);
}
a:hover {
    transition: 0.5s;
    color: rgb(226, 226, 226);
    background-color: rgb(96, 128, 96);
}

button {
    border-radius: 5px;
    border: 1px rgb(145, 148, 142) solid;
    background-color: rgb(216, 227, 209);
    color: rgb(108, 108, 137);
    padding: 10px 40px ;
    font-size: large;
}


button:hover {
    border-radius: 5px;
    border: 1px rgb(145, 148, 142) solid;
    background-color: rgb(108, 108, 137);
    color: rgb(216, 227, 209);
    padding: 10px 40px;
    font-size: large;
}
#btns{
    display: block;
    text-align: center;
}
/* #next{
    float: left;
}

#prev{
    float: right;
} */




h1 {
    font-weight: bolder;
}


p.centero-big {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}
p.centero {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 15px;
}


#showcase {
    height: 800px;
}


footer {
    font-size: large;
}

div#showcase video {
    display: block;
    margin: auto;
    width: 300px;
    width: 300px;
}