body {
    background-color: rgb(226, 226, 226);
    color: rgb(91, 99, 91);
    font-size: 40px;
}

a {
    transition: 0.5s;
    background-color: rgb(226, 226, 226);
    color: rgb(96, 128, 96);
}
a:hover {
    transition: 0.5s;
    color: rgb(226, 226, 226);
    background-color: rgb(96, 128, 96);
}

button {
    border-radius: 5px;
    border: 1px rgb(145, 148, 142) solid;
    background-color: rgb(216, 227, 209);
    color: rgb(108, 108, 137);
    padding: 10px 40px ;
    font-size: large;
}


button:hover {
    border-radius: 5px;
    border: 1px rgb(145, 148, 142) solid;
    background-color: rgb(108, 108, 137);
    color: rgb(216, 227, 209);
    padding: 10px 40px;
    font-size: large;
}

p.centero-big {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}
p.centero {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 15px;
}

div {
    float: left;
}
/* <div style="float:left; display:inline-block;">div1</div>
<div style="float:left; display:inline-block;">div2</div>
 */


footer {
    font-size: 7.8125px;
}

