body {
    background-color: rgb(226, 226, 226);
    color: rgb(91, 99, 91);
}

a {
    transition: 0.5s;
    background-color: rgb(226, 226, 226);
    color: rgb(96, 128, 96);
}

a:hover {
    transition: 0.5s;
    color: rgb(226, 226, 226);
    background-color: rgb(96, 128, 96);
}



button {
    border-radius: 5px;
    border: 1px rgb(145, 148, 142) solid;
    background-color: rgb(216, 227, 209);
    color: rgb(108, 108, 137);
    padding: 10px 40px ;
    font-size: large;
}


button:hover {
    border-radius: 5px;
    border: 1px rgb(145, 148, 142) solid;
    background-color: rgb(108, 108, 137);
    color: rgb(216, 227, 209);
    padding: 10px 40px;
    font-size: large;
}
#btns{
    display: block;
    text-align: center;
}
/* #next{
    float: left;
}

#prev{
    float: right;
} */




h1 {
    font-weight: bolder;
}


p.centero-big {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 100px;
}

.centero {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 15px;
}

.centero-other {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}

/* div#showcase{
    height: 350px;
    font-family: "Fira Code";
    font-feature-settings: "cv01", "cv02";
}

p.p0 ,p.p1, p.p2, p.p3, p.p4, p.p5, p.p6{
    font-family: "Fira Code";
    font-feature-settings: "cv01", "cv02";
} */

footer {
    font-size: large;
}

/* div#showcase video {
    display: block;
    margin: auto;
    width: 300px;
    width: 300px;
} */

div.chinese {
    font-family: "test";
}

@font-face {
    font-family: 'Fira Code';
    src: url('./assets/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'test';
    src: url('./assets/Kai.ttf') format('truetype-variations');
}

aside {
    float: left;
}

button.smallbtn {
    font-size: smaller;
    padding: 5px 20px ;
}